.Photos{
  /* background-color: yellow; */
  border: 0px solid white;
}
.photoContent{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px solid green;
}
.pictureContainer {
  text-align: center;
  padding: 5px;
}
.photoHeader{
  text-align: center;
  margin-top: 75px;
  background-color: rgba(0, 0, 0, 0.0);
}
.photoHeader h1{
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}
.photoHeader h5{
text-align: center;
color: rgb(255, 255, 255);
width: 200px;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
padding-top: 0;
}
.picture{
  margin: 10px;
  width: 15%;
  padding: 3px;
  box-shadow: 0px 0px 50px 0px #4d53a1;
}
.picture:hover{
  transform:scale(1.5)
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .picture{
    width: 80%;
  }

}