/* Content not to display on every page*/
.topnav, .symbols, .arrowicon, .symbols-cv-right, .footer, .close, .button,
.portfolioHeader h4, .skill-container-language, .skill-barometer, .contact-cv img,
.downloadcv
{
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}
/* Content not to display ends */
body{
    font-size: 0.5cm;
    font-family: sans-serif;
}
/* Content to show when print but not on website */
.printContent{
    visibility: visible;
}
/* ends */
/* Index page */
.indexContent{
    text-align: center;
    margin-top: 2cm;
}
.indexContent h2, h1, h3{
    margin: 0;
}
.indexContent h2{
    font-size: 1.2cm;
}
.indexContent h1{
    font-size: 2cm;
}
/* Index page ends */

/* About me page */
.myPicture{
margin: 0;
margin-top: 1cm;
text-align: left;
}
.mePortrait{
    height: 3.5cm;
    margin: 0;
}
.aboutHeader h1{
    text-align: center;
}
/* About me page ends */

/* CV page */
.contactPrint{
    visibility: visible;
}
.education{
    visibility: hidden;
    height: 0;
}
.container-cv{
    color: rgb(0, 0, 0);
    font-size: 0.4cm;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.column-left hr{
    width: 17cm;
}
.contact-cv, .language, .contact-cv p,
.contact-cv h5{
    margin: 0;
    padding: 0;
}
.language p{
    padding-left: 30px;
    margin: 0;
    padding: 0;
}
.portrait{
    text-align: center;
}
.myPortrait{
    height: 3cm;
}
.column-left, .column-right-cv{
    margin: 0;
    padding: 0;
}
ul{
 list-style: none;
}
.references{
    margin-top: 0.3cm;
}
.references h1, .language p{
    margin-left: 1cm;
}
.profile, .employments{
    page-break-after:always;
    margin-left: 1cm;
}
.employments h4, .employments p{
    margin: 0;
}
.column-emp-right h4{
    margin-bottom: 0.3cm;
}
.employments{
    margin-bottom: 0.7cm;
}
.skills, .licenses{
    margin-left: 1cm;
}
.skills h3{
font-size: 0.4cm;
}
.column-left h1, .column-right-cv h1{
    font-size: 0.6cm;
}
.licenses ul, .skill-container h3{
    font-weight:normal;
}
/* CV page ends */

/* Portfolio page*/
.portfolioHeader{
    font-size: 0.4cm;
    text-align: center;
    margin-bottom: 1cm;
}
.styleLinks:after{
    margin-bottom: 1cm;
    content: '' attr(href);
}
.styleLinks p{
    margin: 0;
}
.projectColumn, .styleLinks{
    width: 18cm;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#databaseImg{
    width: 10cm;
    margin-bottom: 1cm;
    margin-top: 0.5cm;
    margin-left: 2cm;
    margin-right: 2cm;
}
#bankImg{
    width: 10cm;
    margin-top: 0.5cm;
    margin-bottom: 1cm;
    margin-right: 2cm;
    margin-left: 2cm;
}
.content h3{
    margin-bottom: 0.5cm;
}
/* Portfolio ends */
/* Photopage */
.photoHeader{
    text-align: center;
    margin: 0;
}
.photoContent{
    margin: 0;
}
.photoHeader h5{
    visibility: hidden;
    margin: 0;
}
.pictureContainer{
    text-align: center;
}
.picture{
    width: 5cm;
}
/* Photopage ends */
/* Contactpage */
.contactMain{
    visibility:hidden;
    height: 0;
}
.print{
    visibility: visible;
    text-align: center;
}
.print h1{
    font-size: 1.2cm;
    margin-bottom: 0cm;
    text-align: center;
}
.print h4{
    margin-bottom: 1cm;
}
.print p{
    font-size: 0.7cm;
    margin-top: 0;
}
.contactIcon{
    height: 0.5cm;
    margin-right: 0.3cm;
}
/* Contactpage ends */
/* Web guidelines starts */
    .webguidelines {
        width: 100%;
        font-size: 80%;
    }
    .headerWebguidelines{
        text-align: center;
    }
/* Web guidelines ends */